@media (min-width: 738px) {
  .container {
    display: grid;
    width: 900px;
    height: 325px;
    background-color: hsl(244, 38%, 16%);
    overflow: hidden;
    border-radius: 10px;
    grid-template: 1fr / 1fr 1fr;
  }
  
  .overlay {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: rgba(170, 92, 219, 0.479);
  }
  
  .text {
    margin: 60px 40px;
    text-align: start;
    padding-right: 10px;
  }
  
  .title {
    font-size: 30px;
    margin-bottom: 20px;
    font-weight: 600;
  }
  
  .description {
    color: hsla(0, 0%, 100%, 0.5);
    font-size: 13px;
    margin-right: 45px;
    line-height: 17px;
  }
  
  .stat {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 40px;
    padding-right: 30px;
    font-size: 10px;
  }
  
  .subtitle {
    font-size: 17px;
    font-weight: bolder;
  }
  
  .stat-text {
    color:hsla(0, 0%, 100%, 0.5);
    font-size: 9px;
    margin-top: 2px;
  }
}

@media (max-width: 738px) {
  .container {
    display: grid;
    height: 700px;
    width: 300px;
    background-color: hsl(244, 38%, 16%);
    overflow: hidden;
    border-radius: 10px;
    grid-template: 2fr 5fr/ 1fr;
  }
  
  .image {
    grid-row: 1;
    grid-column: 1;
  }
  
  .overlay {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: rgba(170, 92, 219, 0.479);
  }

  .text {
    text-align: center;
    margin: 30px 0px;
  }
  
  .title {
    font-size: 30px;
    margin-bottom: 20px;
    font-weight: 600;
  }

  .description {
    color: hsla(0, 0%, 100%, 0.5);
    font-size: 13px;
    margin: 0 45px;
    line-height: 20px;

  }

  .stat {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    font-size: 10px;
    gap: 40px;
  }

  .subtitle {
    font-size: 25px;
    font-weight: 600;
    color: white;
  }

  .stat-text {
    color:hsla(0, 0%, 100%, 0.5);
    font-size: 9px;
    margin-top: 5px;
  }
}